<!DOCTYPE html>
<html lang="en">
<head>
    <title>AWS Newsletter</title>
    <style>
        .zui-table {
            border: solid 1px #0F7E8D;
            border-collapse: collapse;
            border-spacing: 0;
            font: normal 13px Arial, sans-serif;
        }
        .zui-table thead th {
            background-color: #73DAB3; #0F7E8D;
            border: solid 1px #000;
            color: #333;
            padding: 10px;
            text-align: left;
        }
        .zui-table tbody td {
            border: solid 1px #000;
            padding: 10px;
        }
    </style>
</head>
<body>

<p>Hello Team!</p>

<p>Let me present a recap of last week's launches.</p>

<p>Follow the <a href="https://aws.amazon.com/blogs/aws/">AWS Blog</a>, <a href="https://aws.amazon.com/new/">What's New from Amazon Web Services</a>, and <a href="https://aws.amazon.com/podcasts/aws-podcast/">AWS Podcasts</a> for up-to-date news and information.</p>

<p>Please contact us if you have any questions or need more information on any of these services.</p>


{% if feeds[0].entries|length > 0 %}
    <br />
    <p><strong>Launch recap from last week:</strong></p>
    <p><a href="https://aws.amazon.com/new/">What's New at AWS - Cloud Innovation & News</a></p>
    <table class="zui-table">
        <thead><tr><th>Category</th><th>Details</th><th>Date</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[0].entries %}
            <tr><td>{{ wn_item.product }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[1].entries|length > 0 %}
    <br />
    <p><strong>Latest AWS Blog posts:</strong></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Details</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[1].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[2].entries|length > 0 %}
    <br />
    <p><strong>Latest Security Blog posts:</strong></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Details</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[2].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[3].entries|length > 0 %}
    <br />
    <p><strong>Latest Architecture Blog posts:</strong></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Details</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[3].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[4].entries|length > 0 %}
    <br />
    <p><strong>Security Advisories:</strong></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Details</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[4].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[5].entries|length > 0 %}
    <br />
    <p><strong>Latest AWS YouTube Channel Videos:</strong></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Video</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[5].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[6].entries|length > 0 %}
    <br />
    <p><strong>AWS Online Tech Talks:</strong></p>
    <p><a href="https://aws.amazon.com/events/online-tech-talks">AWS Online Tech Talks Website</a> | <a href="https://www.youtube.com/user/AWSwebinars">View Past Webinar Recordings</a></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Topic</th><th>Level</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[6].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td><td>{{ wn_item.level }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if feeds[7].entries|length > 0 %}
    <br />
    <p><strong>AWS PartnerCast Talks:</strong></p>
    <p><a href="https://aws.amazon.com/partners/training/partnercast/">AWS PartnerCast Website</a></p>
    <table class="zui-table">
        <thead><tr><th>Date</th><th>Topic</th></tr></thead>
        <tbody>
        {% for wn_item in feeds[7].entries %}
            <tr><td>{{ wn_item.published.strftime('%d.%m.%Y') }}</td><td><a href="{{ wn_item.link }}">{{ wn_item.title }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}