<p>
Hello Team!

Let me present a recap of last week's launches.

Follow the AWS Blog, What's New from Amazon Web Services, and AWS Podcasts for up-to-date news and information.

Please contact us if you have any questions or need more information on any of these services.
</p>

<p>Launch recap from last week:</p>
<table>
<tr><th>Product</th><th>Details</th><th>Date</th></tr>
{% for whats_new_item in whats_new %}
{{ whats_new_item }}
{% endfor %}
</table>

<p>Latest AWS Blog posts:</p>
<table>
<tr><th>Date</th><th>Item</th></tr>
{% for blogs_item in blogs %}
{{ blogs_item }}
{% endfor %}
</table>